@model WebFrameworkBase.Areas.BO.Models.PersonListViewModel
@{
    ViewData["Title"] = "Person Index";
}

<form asp-controller="Person" asp-action="Index" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#content_all" data-ajax-begin="showWaitingScreen(true);" data-ajax-complete="showWaitingScreen(false);" data-ajax-failure="location.reload();">
    <div id="content_all">

        <h2>@ViewData["Title"].</h2>
        <h3>@ViewData["Message"]</h3>

        <div class="row">
            <div class="col">
                <a asp-controller="Person" asp-action="New" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="@ViewBag.New"><llv>New Person</llv></a>
            </div>
        </div>
        <hr />

        @if (Model.PersonList.Count() > 0)
        {
            @await Html.PartialAsync("~/Views/Shared/NavigationListPartialView.cshtml")

            <table class="table table-condensed table-hover table-bordered table-striped table-dark table-sm">
                <thead class="bg-primary">
                    <tr>
                        <th><span class="oi oi-cog d-block text-center align-middle" title="icon cog" aria-hidden="true"></span></th>
                        <th scope="col">@Html.DisplayNameFor(m => m.PersonList[0].PersonId)</th>
                        <th scope="col">@Html.DisplayNameFor(m => m.PersonList[0].FullName)</th>
                        <th scope="col">@Html.DisplayNameFor(m => m.PersonList[0].Borndate)</th>
                        <th scope="col">@Html.DisplayNameFor(m => m.PersonList[0].LanguageCode)</th>
                        <th scope="col">@Html.DisplayNameFor(m => m.PersonList[0].UserColorBG)</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.PersonList.Count(); i++)
                    {
                        <tr>
                            <td align="center">
                                <a class="btn btn-primary btn-sm" asp-action="Edit" asp-controller="Person" asp-all-route-data='@new Dictionary<string,string>() { { "id", Model.PersonList[i].PersonId.ToString() } }'><span class="oi oi-pencil" title="icon pencil" aria-hidden="true"></span></a>
                                <a class="btn btn-danger btn-sm"><span class="oi oi-trash" title="icon trash" aria-hidden="true"></span></a>
                            </td>
                            <td>@Html.DisplayTextFor(m => m.PersonList[i].PersonId)</td>
                            <td>@Html.DisplayTextFor(m => m.PersonList[i].FullName)</td>
                            <td>@Html.DisplayFor(m => m.PersonList[i].Borndate)</td>
                            <td>@Html.DisplayTextFor(m => m.PersonList[i].LanguageCode)</td>

                            <td>
                                <div class="badge badge-colorbg-sm">
                                    <div class="badge" style="background-color: @Html.DisplayTextFor(m => m.PersonList[i].UserColorBG)" title="@Html.DisplayTextFor(m => m.PersonList[i].UserColorBG)">

                                    </div>
                                </div>


                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</form>